In [1]:
import numpy as np
import pandas as pd

import random

import sys
sys.path.append("../")

from src.object import *
from src.create import *

from config.formation import *

In [2]:
def apply_points(row):
    return row.win*3+row.row

def relegation_league(teams):
    for t in teams:
        t.relegation += 1

def promotion_league(teams):
    for t in teams:
        t.promotion += 1

In [3]:
df_name = pd.read_csv("../data/csv/NationalNames.csv")
df_name_list = list(df_name[df_name.Gender=='M'].Name.sample(500))

In [4]:
df_place = pd.read_csv("../data/csv/results.csv")
df_place = df_place.city.unique()

In [5]:
class League:
    def __init__(self, name, teams):
        self.name = name
        self.teams = teams
        self.champion = {}

class Season:
    def __init__(self, name, league):
        self.name = name 
        self.league = league
        self.result = None
    
    def play_1year(self):
        all_team_name = [s.name for s in self.league.teams]
        output = pd.DataFrame(np.zeros((len(all_team_name), 5)), 
                              index=all_team_name, 
                              columns=["win", "lose", "row", "得点", "失点"], 
                              dtype=np.int8)

        for i in range(20):
            for j in range(20):
                if i!= j:
                    game = Game(home=self.league.teams[i], away=self.league.teams[j])
                    game.battle()
                    
                    home_team_name = self.league.teams[i].name
                    away_team_name = self.league.teams[j].name
                    
                    if game.result=="home":
                        output.loc[home_team_name, "win"] += 1
                        output.loc[away_team_name, "lose"] += 1
                    elif game.result=="away":
                        output.loc[away_team_name, "win"] += 1
                        output.loc[home_team_name, "lose"] += 1
                    else:
                        output.loc[home_team_name, "row"] += 1
                        output.loc[away_team_name, "row"] += 1

                    output.loc[home_team_name, "得点"] += game.home_goal
                    output.loc[home_team_name, "失点"] += game.away_goal

                    output.loc[away_team_name, "得点"] += game.away_goal
                    output.loc[away_team_name, "失点"] += game.home_goal
        
        output["得失点差"] = output["得点"]-output["失点"]
        output["Points"] = output.apply(apply_points, axis=1)
        output = output.sort_values("Points", ascending=False)
        output["順位"] = [f"{i}位" for i in range(1, 21)]
        output["リーグ名"] = [f"{self.league.name}" for i in range(20)]
        self.result = output
        
        for team in self.league.teams:
            team.result.loc[self.name] = self.result.loc[team.name, :]
        
        if list(self.result.index)[0] in self.league.champion.keys():
            self.league.champion[list(self.result.index)[0]].append(self.name)
        else:
            self.league.champion[list(self.result.index)[0]] = [self.name]

In [6]:
league_team = []

for i in range(20):
    min_rate = np.random.randint(75, 85)
    max_rate = min_rate + 15
    players = random_create_players(27, 3, min_rate, max_rate, df_name_list)
    formation = random_create_formation()
    A = Team(name=df_place[i], formation=formation)

    A.set_all_players(players)
    A.set_starting_players()
    A.formation.cal_team_rate()
    
    league_team.append(A)

L1 = League(name="premia", teams=league_team)

In [7]:
league_team = []

for i in range(20):
    min_rate = np.random.randint(67, 77)
    max_rate = min_rate + 15
    players = random_create_players(27, 3, min_rate, max_rate, df_name_list)
    formation = random_create_formation()
    A = Team(name=df_place[i+20], formation=formation)

    A.set_all_players(players)
    A.set_starting_players()
    A.formation.cal_team_rate()
    
    league_team.append(A)

L2 = League(name="championship", teams=league_team)

In [8]:
league_team = []

for i in range(20):
    min_rate = np.random.randint(60, 70)
    max_rate = min_rate + 15
    players = random_create_players(27, 3, min_rate, max_rate, df_name_list)
    formation = random_create_formation()
    A = Team(name=df_place[i+40], formation=formation)

    A.set_all_players(players)
    A.set_starting_players()
    A.formation.cal_team_rate()
    
    league_team.append(A)

L3 = League(name="EFL1", teams=league_team)

In [9]:
for year in range(2000, 2023):
    print(year)
    Premia = Season(name=f"premia_{year}", league=L1)
    Premia.play_1year()

    Championship = Season(name=f"championship_{year}", league=L2)
    Championship.play_1year()

    EFL1 = Season(name=f"EFL1_{year}", league=L3)
    EFL1.play_1year()

    premia_relegation = [s for s in Premia.league.teams if s.name in list(Premia.result[17:].index)]
    championship_promotion = [s for s in Championship.league.teams if s.name in list(Championship.result[:3].index)]

    championship_relegation = [s for s in Championship.league.teams if s.name in list(Championship.result[17:].index)]
    EFL1_promotion = [s for s in EFL1.league.teams if s.name in list(EFL1.result[:3].index)]

    Premia.league.teams = [s for s in Premia.league.teams if s not in premia_relegation]
    Premia.league.teams.extend(championship_promotion)

    Championship.league.teams = [s for s in Championship.league.teams if s not in championship_promotion]
    Championship.league.teams = [s for s in Championship.league.teams if s not in championship_relegation]
    Championship.league.teams.extend(premia_relegation)
    Championship.league.teams.extend(EFL1_promotion)

    EFL1.league.teams = [s for s in EFL1.league.teams if s not in EFL1_promotion]
    EFL1.league.teams.extend(championship_relegation)
    
    relegation_league(premia_relegation)
    relegation_league(championship_relegation)
    promotion_league(championship_promotion)
    promotion_league(EFL1_promotion)

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [10]:
Premia.league.champion

{'Wrexham': ['premia_2000',
  'premia_2001',
  'premia_2003',
  'premia_2004',
  'premia_2005',
  'premia_2006',
  'premia_2007',
  'premia_2008',
  'premia_2012',
  'premia_2013',
  'premia_2014',
  'premia_2015',
  'premia_2017',
  'premia_2019',
  'premia_2021',
  'premia_2022'],
 'Birmingham': ['premia_2002',
  'premia_2009',
  'premia_2010',
  'premia_2011',
  'premia_2016',
  'premia_2018',
  'premia_2020']}

In [11]:
for t in Premia.league.teams:
    print(t.name)

Glasgow
Wrexham
Belfast
Newark
Crewe
Edinburgh
Stoke-on-Trent
Shrewsbury
Sunderland
Wolverhampton
Bangor
Birmingham
Richmond
Swansea
Blackburn
London
Motherwell
Paisley
Sheffield
Liverpool

In [30]:
num = 17
print(Premia.league.teams[num].name)
Premia.league.teams[num].result

Paisley

                  win lose row   得点  失点 得失点差 Points   順位          リーグ名
premia_2000         6   28   4   13  72  -59     22  18位        premia
championship_2001  26    1  11  103  17   86     89   3位  championship
premia_2002         8   24   6   20  56  -36     30  17位        premia
premia_2003         6   24   8   14  67  -53     26  17位        premia
premia_2004         3   24  11   18  60  -42     20  18位        premia
championship_2005  29    0   9   95  16   79     96   2位  championship
premia_2006         9   22   7   23  69  -46     34  15位        premia
premia_2007         6   24   8   19  66  -47     26  16位        premia
premia_2008         6   21  11   15  64  -49     29  14位        premia
premia_2009         5   21  12   18  62  -44     27  17位        premia
premia_2010         6   24   8   23  60  -37     26  17位        premia
premia_2011         3   25  10   16  64  -48     19  18位        premia
championship_2012  32    1   5   97  13   84    101   1位  championship
premia_2013         5   24   9   22  71  -49     24  16位        premia
premia_2014         8   20  10   22  56  -34     34  15位        premia
premia_2015         9   23   6   21  58  -37     33  14位        premia
premia_2016        11   21   6   32  62  -30     39  14位        premia
premia_2017         7   16  15   20  59  -39     36  14位        premia
premia_2018         4   26   8   19  75  -56     20  18位        premia
championship_2019  29    1   8   92  14   78     95   2位  championship
premia_2020         7   21  10   21  43  -22     31  15位        premia
premia_2021         1   25  12   12  64  -52     15  19位        premia
championship_2022  29    4   5  106  15   91     92   2位  championship

In [27]:
Premia.league.teams[num].formation.print_formation()

Carmel   Rate: 92 ( ST )
-------------------------
  PAC  95   DRI  78
  SHO  91   DEF  49
  PAS  62   PHY  69

Niel   Rate: 78 ( LM )
-------------------------
  PAC  86   DRI  92
  SHO  71   DEF  62
  PAS  68   PHY  57

Vern   Rate: 77 ( RM )
-------------------------
  PAC  98   DRI  73
  SHO  67   DEF  58
  PAS  72   PHY  65

Merlin   Rate: 80 ( CAM )
-------------------------
  PAC  79   DRI  93
  SHO  89   DEF  71
  PAS  61   PHY  76

Montrell   Rate: 83 ( CDM )
-------------------------
  PAC  81   DRI  55
  SHO  72   DEF  81
  PAS  92   PHY  75

Byron   Rate: 82 ( CDM )
-------------------------
  PAC  88   DRI  97
  SHO  47   DEF  79
  PAS  69   PHY  88

Florencio   Rate: 85 ( LB )
-------------------------
  PAC  87   DRI  99
  SHO  68   DEF  75
  PAS  55   PHY  77

Windle   Rate: 98 ( CB )
-------------------------
  PAC  66   DRI  47
  SHO  47   DEF  99
  PAS  60   PHY  92

Brode   Rate: 90 ( CB )
-------------------------
  PAC  90   DRI  69
  SHO  73   DEF  86
  PAS  48   PHY  89

Squire   Rate: 84 ( RB )
-------------------------
  PAC  99   DRI  53
  SHO  58   DEF  83
  PAS  69   PHY  84

Unnamed   Rate: 87 ( GK )
-------------------------
  DIV  86   REF  86
  HAN  86   SPE  77
  KIC  68   POS  87

In [29]:
Championship.league.champion

{'Derby': ['championship_2000', 'championship_2013', 'championship_2021'],
 'Blackburn': ['championship_2001', 'championship_2005', 'championship_2007'],
 'Sheffield': ['championship_2002', 'championship_2017'],
 'Liverpool': ['championship_2003',
  'championship_2009',
  'championship_2011',
  'championship_2022'],
 'Montevideo': ['championship_2004', 'championship_2006', 'championship_2015'],
 'Manchester': ['championship_2008', 'championship_2010', 'championship_2020'],
 'Paisley': ['championship_2012'],
 'Motherwell': ['championship_2014', 'championship_2016', 'championship_2019'],
 'London': ['championship_2018']}

In [14]:
for t in Championship.league.teams:
    print(t.name)

Llandudno
Bristol
Vienna
Portsmouth
Buenos Aires
Haarlem
Nottingham
Brussels
Greenock
Prague
Paris
Aberdeen
Newcastle
Budapest
Manchester
Derby
Montevideo
Geneva
Kilmarnock
Dublin

In [28]:
num = 5
print(Championship.league.teams[num].name)
Championship.league.teams[num].result

Haarlem

                  win lose row   得点  失点 得失点差 Points   順位          リーグ名
EFL1_2000          35    0   3  168  28  140    108   1位          EFL1
championship_2001  11   22   5   56  96  -40     38  13位  championship
championship_2002  12   23   3   49  82  -33     39  15位  championship
championship_2003  13   20   5   48  65  -17     44  13位  championship
championship_2004  12   23   3   43  77  -34     39  14位  championship
championship_2005  12   19   7   43  72  -29     43  11位  championship
championship_2006  10   24   4   39  83  -44     34  15位  championship
championship_2007   8   24   6   39  79  -40     30  17位  championship
championship_2008   8   20  10   40  69  -29     34  16位  championship
championship_2009  11   22   5   51  87  -36     38  14位  championship
championship_2010  14   18   6   56  81  -25     48  12位  championship
championship_2011   8   23   7   39  71  -32     31  16位  championship
championship_2012  10   24   4   46  86  -40     34  15位  championship
championship_2013  10   21   7   38  63  -25     37  15位  championship
championship_2014  11   21   6   47  66  -19     39  15位  championship
championship_2015  14   20   4   52  73  -21     46  13位  championship
championship_2016  13   19   6   43  62  -19     45  12位  championship
championship_2017  14   18   6   60  64   -4     48  11位  championship
championship_2018  11   20   7   53  82  -29     40  15位  championship
championship_2019  10   21   7   52  83  -31     37  14位  championship
championship_2020   8   18  12   38  63  -25     36  14位  championship
championship_2021   9   18  11   41  72  -31     38  14位  championship
championship_2022   9   20   9   47  80  -33     36  14位  championship

In [31]:
Championship.league.teams[num].formation.print_formation()

Fowler   Rate: 79 ( LW )
-------------------------
  PAC  99   DRI  64
  SHO  58   DEF  50
  PAS  65   PHY  59

Detravion   Rate: 79 ( ST )
-------------------------
  PAC  49   DRI  67
  SHO  83   DEF  44
  PAS  70   PHY  56

Simone   Rate: 75 ( RW )
-------------------------
  PAC  81   DRI  73
  SHO  63   DEF  60
  PAS  58   PHY  59

Bjarne   Rate: 67 ( LM )
-------------------------
  PAC  80   DRI  72
  SHO  56   DEF  63
  PAS  58   PHY  66

Imogene   Rate: 72 ( CM )
-------------------------
  PAC  69   DRI  47
  SHO  77   DEF  72
  PAS  77   PHY  78

Doris   Rate: 67 ( CM )
-------------------------
  PAC  57   DRI  78
  SHO  52   DEF  69
  PAS  62   PHY  67

Azmir   Rate: 67 ( RM )
-------------------------
  PAC  96   DRI  56
  SHO  59   DEF  68
  PAS  56   PHY  68

Lucious   Rate: 83 ( CB )
-------------------------
  PAC  73   DRI  58
  SHO  31   DEF  81
  PAS  53   PHY  80

Antony   Rate: 81 ( CB )
-------------------------
  PAC  81   DRI  50
  SHO  52   DEF  77
  PAS  61   PHY  86

Bralin   Rate: 79 ( CB )
-------------------------
  PAC  50   DRI  80
  SHO  34   DEF  76
  PAS  72   PHY  89

Curtis   Rate: 75 ( GK )
-------------------------
  DIV  74   REF  82
  HAN  65   SPE  70
  KIC  63   POS  74

In [32]:
EFL1.league.champion

{'Haarlem': ['EFL1_2000'],
 'Kilmarnock': ['EFL1_2001',
  'EFL1_2005',
  'EFL1_2007',
  'EFL1_2011',
  'EFL1_2013',
  'EFL1_2015',
  'EFL1_2017',
  'EFL1_2019',
  'EFL1_2022'],
 'Dublin': ['EFL1_2002', 'EFL1_2006'],
 'Geneva': ['EFL1_2003'],
 'Cardiff': ['EFL1_2004', 'EFL1_2012', 'EFL1_2021'],
 'Southampton': ['EFL1_2008', 'EFL1_2014', 'EFL1_2016'],
 'Aberdeen': ['EFL1_2009', 'EFL1_2018'],
 'Middlesbrough': ['EFL1_2010'],
 'Budapest': ['EFL1_2020']}

In [18]:
for t in EFL1.league.teams:
    print(t.name)

Antwerp
Saint-Cloud
Basel
Aberdare
Colombes
The Hague
Bradford
Karlsruhe
Gentilly
Milan
Duisburg
Viña del Mar
Kristiania
Dundee
Rotterdam
Arnhem
Gothenburg
Middlesbrough
Cardiff
Southampton

In [36]:
num = 0
print(EFL1.league.teams[num].name)
EFL1.league.teams[num].result

Antwerp

          win lose row  得点   失点 得失点差 Points   順位  リーグ名
EFL1_2000   9   26   3  46  102  -56     30  16位  EFL1
EFL1_2001   8   25   5  56   86  -30     29  18位  EFL1
EFL1_2002  10   24   4  43   74  -31     34  16位  EFL1
EFL1_2003   9   23   6  49   88  -39     33  16位  EFL1
EFL1_2004  12   20   6  59   85  -26     42  12位  EFL1
EFL1_2005   9   22   7  48   83  -35     34  17位  EFL1
EFL1_2006  10   23   5  70   94  -24     35  16位  EFL1
EFL1_2007   8   23   7  54   92  -38     31  16位  EFL1
EFL1_2008   9   25   4  52   98  -46     31  17位  EFL1
EFL1_2009   8   20  10  47   84  -37     34  14位  EFL1
EFL1_2010  14   21   3  62   76  -14     45  13位  EFL1
EFL1_2011   6   28   4  41   93  -52     22  18位  EFL1
EFL1_2012  10   20   8  59   83  -24     38  14位  EFL1
EFL1_2013   8   25   5  42   85  -43     29  17位  EFL1
EFL1_2014   6   24   8  48   91  -43     26  18位  EFL1
EFL1_2015  13   18   7  50   86  -36     46  13位  EFL1
EFL1_2016  13   20   5  54   73  -19     44  13位  EFL1
EFL1_2017  14   19   5  63   77  -14     47  12位  EFL1
EFL1_2018   8   23   7  52   79  -27     31  16位  EFL1
EFL1_2019   9   26   3  52   95  -43     30  17位  EFL1
EFL1_2020   6   17  15  42   79  -37     33  16位  EFL1
EFL1_2021  11   21   6  41   72  -31     39  13位  EFL1
EFL1_2022  11   20   7  53   67  -14     40  16位  EFL1

In [35]:
EFL1.league.teams[num].formation.print_formation()

Nickalas   Rate: 74 ( LW )
-------------------------
  PAC  81   DRI  65
  SHO  60   DEF  56
  PAS  72   PHY  52

Adlia   Rate: 74 ( ST )
-------------------------
  PAC  91   DRI  65
  SHO  70   DEF  72
  PAS  45   PHY  66

Boaz   Rate: 74 ( RW )
-------------------------
  PAC  83   DRI  70
  SHO  56   DEF  64
  PAS  55   PHY  62

Aven   Rate: 76 ( CM )
-------------------------
  PAC  61   DRI  66
  SHO  26   DEF  60
  PAS  85   PHY  63

Giles   Rate: 74 ( CM )
-------------------------
  PAC  71   DRI  64
  SHO  60   DEF  70
  PAS  77   PHY  64

Terrell   Rate: 69 ( CDM )
-------------------------
  PAC  56   DRI  70
  SHO  67   DEF  67
  PAS  72   PHY  60

Bulmaro   Rate: 71 ( LB )
-------------------------
  PAC  89   DRI  59
  SHO  50   DEF  53
  PAS  55   PHY  86

Arvon   Rate: 75 ( CB )
-------------------------
  PAC  53   DRI  81
  SHO  49   DEF  73
  PAS  61   PHY  78

Edras   Rate: 74 ( CB )
-------------------------
  PAC  75   DRI  59
  SHO  64   DEF  72
  PAS  61   PHY  70

Bertrand   Rate: 70 ( RB )
-------------------------
  PAC  71   DRI  72
  SHO  54   DEF  64
  PAS  64   PHY  65

Theordore   Rate: 76 ( GK )
-------------------------
  DIV  78   REF  74
  HAN  83   SPE  53
  KIC  51   POS  72