In [31]:
import sqlite3
import pandas as pd
import numpy as np

import uuid
import os

import random

import time
import sys

In [2]:
dbname = 'TEST.db'

name = pd.read_csv("../../data/csv/NationalNames.csv")
name = name[name.Gender=="M"].Name.unique().tolist()

In [7]:
if os.path.exists(dbname):
    os.remove(dbname)

conn = sqlite3.connect(dbname)

# sqliteを操作するカーソルオブジェクトを作成
cur = conn.cursor()

# personsというtableを作成してみる
# 大文字部はSQL文。小文字でも問題ない。
cur.execute(
    'CREATE TABLE persons(uuid STRING, name STRING, age INTEGER, born_year INTEGER)')

# データベースへコミット。これで変更が反映される。
conn.commit()

conn.close()

In [5]:
class Player:
    def __init__(self, name, uuid, age, born_year):
        self.name = name
        self.uuid = uuid
        self.age = age
        self.born_year = born_year

In [8]:
conn = sqlite3.connect(dbname)
cur = conn.cursor()

players = []
for i in range(10):
    uuid_ = uuid.uuid1()
    name = random.choice(name)
    age = min(max(np.int8(np.round(np.random.normal(25, 5))), 18), 37)
    born_year = 2024-age
    cur.execute(f'INSERT INTO persons(name, uuid, age, born_year) values("{name}", "{uuid_}", {age}, {born_year})')
    
    p = Player(name, uuid, age, born_year)
    players.append(p)

conn.commit()

cur.close()
conn.close()

In [28]:
s_ = time.time()
for i in range(100000):
    k = [p for p in players if p.age<25 and born_year<2000]
f_ = time.time()

conn = sqlite3.connect(dbname)
cur = conn.cursor()

s = time.time()
for i in range(100000):
    cur.execute('SELECT * FROM persons WHERE age<25 AND born_year<2000')
f = time.time()

cur.close()
conn.close()

In [ ]:
conn = sqlite3.connect(dbname)
cur = conn.cursor()

# dbをpandasで読み出す。
df = pd.read_sql('SELECT * FROM persons', conn)

print(df)

cur.close()
conn.close()

In [32]:
sys.getsizeof(players)

184

In [36]:
sys.getsizeof(cur)

120